Assets/Resources/Configs/GameConfigSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Integer > 0 -->
  <xs:simpleType name="PositiveIntType">
    <xs:restriction base="xs:integer">
      <xs:minExclusive value="0" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PositiveDecimalType">
    <xs:restriction base="xs:decimal">
      <xs:minExclusive value="0" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Decimal in [0.0, 1.0] for probabilities -->
  <xs:simpleType name="ProbabilityType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="1" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Single integer key-value entry used in all lookup tables -->
  <xs:complexType name="IntEntryType">
    <xs:sequence>
      <xs:element name="Key" type="xs:integer" />
      <xs:element name="Value" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>

  <!-- Lookup table: zero or more int key-value entries -->
  <xs:complexType name="IntTableType">
    <xs:sequence>
      <xs:element name="Entry" type="IntEntryType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StringListType">
    <xs:sequence>
      <xs:element name="String" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <!-- Mission tick range: base ticks + random spread -->
  <xs:complexType name="MissionTickConfigType">
    <xs:all>
      <xs:element name="Base" type="xs:nonNegativeInteger" />
      <xs:element name="Spread" type="xs:nonNegativeInteger" />
    </xs:all>
  </xs:complexType>

  <xs:element name="GameConfig">
    <xs:complexType>
      <xs:all>
        <xs:element name="AI">
          <xs:complexType>
            <xs:all>
              <xs:element name="TickInterval" type="PositiveIntType" />
              <xs:element name="EnablePlanetaryAssaults" type="xs:boolean" />
              <xs:element name="DiplomacyMinimumSkill" type="xs:nonNegativeInteger" />
              <xs:element name="RecruitmentMinimumLeadership" type="xs:nonNegativeInteger" />
              <xs:element name="MissionTables">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="Reconnaissance" type="IntTableType" />
                    <xs:element name="Diplomacy" type="IntTableType" />
                    <xs:element name="SubdueUprising" type="IntTableType" />
                    <xs:element name="Espionage" type="IntTableType" />
                    <xs:element name="InciteUprising" type="IntTableType" />
                    <xs:element name="Rescue" type="IntTableType" />
                    <xs:element name="Sabotage" type="IntTableType" />
                    <xs:element name="Abduction" type="IntTableType" />
                    <xs:element name="Assassination" type="IntTableType" />
                    <xs:element name="Recruitment" type="IntTableType" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
              <xs:element name="MissionPlanning">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="DiplomacyCandidatePlanetLimit" type="PositiveIntType" />
                    <xs:element name="ResearchCandidatePlanetLimit" type="PositiveIntType" />
                    <xs:element name="SabotageCandidatePlanetLimit" type="PositiveIntType" />
                    <xs:element name="OfficerTargetCandidateLimit" type="PositiveIntType" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
              <xs:element name="Garrison">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="SupportThreshold" type="xs:nonNegativeInteger" />
                    <xs:element name="GarrisonDivisor" type="PositiveIntType" />
                    <xs:element name="UprisingMultiplier" type="PositiveIntType" />
                    <xs:element
                      name="FleetLoadingDeficitThreshold"
                      type="xs:nonNegativeInteger"
                    />
                  </xs:all>
                </xs:complexType>
              </xs:element>
              <xs:element name="DeploymentGateLow" type="xs:nonNegativeInteger" />
              <xs:element name="DeploymentGateHigh" type="xs:nonNegativeInteger" />
              <xs:element name="Selection">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="MinimumSelectableScore" type="xs:decimal" />
                    <xs:element name="CandidatePoolSize" type="PositiveIntType" />
                    <xs:element name="RecentBuildHistoryLimit" type="PositiveIntType" />
                    <xs:element
                      name="RepeatBuildPenaltyPerSelection"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="LocalDuplicatePenaltyPerSelection"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="MaxDuplicateCapitalTypePerFleet"
                      type="PositiveIntType"
                    />
                    <xs:element
                      name="MaxDuplicateStarfighterTypePerFleet"
                      type="PositiveIntType"
                    />
                    <xs:element
                      name="MaxDuplicateRegimentTypePerDestination"
                      type="PositiveIntType"
                    />
                    <xs:element
                      name="PremiumCapitalConstructionCostThreshold"
                      type="PositiveIntType"
                    />
                    <xs:element name="MaxPremiumCapitalsPerFaction" type="PositiveIntType" />
                    <xs:element
                      name="CapitalConstructionCostWeight"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="CapitalMaintenanceCostWeight"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element name="CapitalCombatWeight" type="xs:nonNegativeInteger" />
                    <xs:element
                      name="CapitalExcessCombatPenaltyWeight"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="CapitalStarfighterCapacityWeight"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="CapitalRegimentCapacityWeight"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="CapitalBombardmentWeight"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="CapitalGravityWellWeight"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="CapitalEmptyFleetCombatBoost"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="CapitalMissingStarfighterCapacityBoost"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="CapitalMissingRegimentCapacityBoost"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="CapitalMissingGravityWellBoost"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element name="StarfighterEscortWeight" type="xs:nonNegativeInteger" />
                    <xs:element
                      name="StarfighterInterceptorWeight"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element name="StarfighterBomberWeight" type="xs:nonNegativeInteger" />
                    <xs:element
                      name="StarfighterMissingInterceptorBoost"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="StarfighterMissingBomberBoost"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element name="RegimentDefenseWeight" type="xs:nonNegativeInteger" />
                    <xs:element name="RegimentAttackWeight" type="xs:nonNegativeInteger" />
                    <xs:element
                      name="RegimentBombardmentDefenseWeight"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="RegimentMaintenanceCostWeight"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="RegimentGarrisonDefenseBoost"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="RegimentFleetAttackBoost"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="MinimumMaintenanceHeadroomAfterProduction"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="MaintenanceHeadroomHardFloor"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="MaintenanceHeadroomPenaltyWeight"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="MaintenanceShortfallPenalty"
                      type="xs:nonNegativeInteger"
                    />
                  </xs:all>
                </xs:complexType>
              </xs:element>
              <xs:element name="NonCapitalSummary">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="MajorThreatWeaponDefenseCapacity" type="xs:nonNegativeInteger" />
                    <xs:element name="MajorThreatShieldDefenseCapacity" type="xs:nonNegativeInteger" />
                    <xs:element name="StrategicThreatShieldDefenseCapacity" type="xs:nonNegativeInteger" />
                    <xs:element name="StrategicThreatWeaponDefenseCapacity" type="xs:nonNegativeInteger" />
                    <xs:element name="MinimumShieldDefenseCapacity" type="xs:nonNegativeInteger" />
                    <xs:element name="SupportThreatWeaponDefenseCapacity" type="xs:nonNegativeInteger" />
                    <xs:element name="SubtypeSelectorRatioThreshold" type="xs:decimal" />
                    <xs:element name="SupportThreshold" type="xs:nonNegativeInteger" />
                    <xs:element name="SupportDivisor" type="PositiveIntType" />
                    <xs:element name="SupportUrgencyCap" type="xs:nonNegativeInteger" />
                    <xs:element
                      name="BaseRequirementDefault"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="BaseRequirementInfrastructure"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="BaseRequirementHeadquarters"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="StarfighterRequirementDefault"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="StarfighterRequirementInfrastructure"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="StarfighterRequirementHeadquarters"
                      type="xs:nonNegativeInteger"
                    />
                  </xs:all>
                </xs:complexType>
              </xs:element>
              <xs:element name="Infrastructure">
                <xs:complexType>
                  <xs:all>
                    <xs:element
                      name="PlanetsPerConstructionFacility"
                      type="PositiveIntType"
                    />
                    <xs:element
                      name="MinimumConstructionFacilityLanes"
                      type="PositiveIntType"
                    />
                    <xs:element
                      name="ConstructionFacilityTargetClearTicks"
                      type="PositiveIntType"
                    />
                    <xs:element name="PlanetsPerShipyard" type="PositiveIntType" />
                    <xs:element
                      name="PlanetsPerTrainingFacility"
                      type="PositiveIntType"
                    />
                    <xs:element
                      name="ManufacturingFacilityBaseDemandPercent"
                      type="PositiveIntType"
                    />
                    <xs:element
                      name="ConstructionFacilityDemandPercent"
                      type="PositiveIntType"
                    />
                    <xs:element
                      name="ShipyardDemandPercent"
                      type="PositiveIntType"
                    />
                    <xs:element
                      name="TrainingFacilityDemandPercent"
                      type="PositiveIntType"
                    />
                    <xs:element
                      name="FleetCapitalShipDemandPercent"
                      type="PositiveIntType"
                    />
                    <xs:element
                      name="FleetStarfighterDemandPercent"
                      type="PositiveIntType"
                    />
                    <xs:element
                      name="FleetRegimentDemandPercent"
                      type="PositiveIntType"
                    />
                    <xs:element
                      name="StarfighterParentFillPercent"
                      type="PositiveIntType"
                    />
                    <xs:element
                      name="StarfighterLocalReservePercent"
                      type="PositiveIntType"
                    />
                    <xs:element
                      name="AssaultRegimentLoadPercent"
                      type="PositiveIntType"
                    />
                    <xs:element
                      name="GarrisonRegimentReservePercent"
                      type="PositiveIntType"
                    />
                    <xs:element name="MaxDefensePerPlanet" type="PositiveIntType" />
                    <xs:element name="EconomyDefaultBatchSize" type="PositiveIntType" />
                    <xs:element name="EconomyDemandPercent" type="PositiveIntType" />
                    <xs:element
                      name="EconomySevereDemandPercent"
                      type="PositiveIntType"
                    />
                    <xs:element name="EconomySevereDeficitPercent" type="PositiveIntType" />
                    <xs:element
                      name="EconomyCompetingNeedSlotReserve"
                      type="PositiveIntType"
                    />
                    <xs:element
                      name="EconomyMaintenanceShortfallPressure"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="EconomyMaintenanceReservePressure"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="FleetTargetValuePressureWeight"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="FleetReadinessPressureWeight"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="FleetFinalReadinessGatePressure"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="FleetFinalReadinessGateUnitCount"
                      type="PositiveIntType"
                    />
                    <xs:element
                      name="FleetStarfighterFillPressureWeight"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="FleetReinforcementTravelPenaltyWeight"
                      type="xs:nonNegativeInteger"
                    />
                  </xs:all>
                </xs:complexType>
              </xs:element>
              <xs:element name="FleetDeployment">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="MinimumAttackStrength" type="PositiveIntType" />
                    <xs:element name="MinimumDefenseStrength" type="PositiveIntType" />
                    <xs:element name="MinimumPlanetaryAssaultRegimentCount" type="PositiveIntType" />
                    <xs:element
                      name="AttackStrengthPercentOfDefense"
                      type="PositiveIntType"
                    />
                    <xs:element
                      name="AttackStrengthPercentOfStrongestHostileFleet"
                      type="PositiveIntType"
                    />
                    <xs:element name="AttackStrategicValueWeight" type="PositiveIntType" />
                    <xs:element name="AttackReadinessWeight" type="PositiveIntType" />
                    <xs:element name="AttackCaptureViabilityWeight" type="PositiveIntType" />
                    <xs:element name="AttackTravelEfficiencyWeight" type="PositiveIntType" />
                    <xs:element
                      name="AttackExpectedLossPenaltyWeight"
                      type="PositiveIntType"
                    />
                    <xs:element
                      name="AttackOpportunityCostPenaltyWeight"
                      type="PositiveIntType"
                    />
                    <xs:element name="ExistingAttackOrderBonus" type="PositiveIntType" />
                    <xs:element name="HeadquartersAttackBonus" type="PositiveIntType" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>

        <xs:element name="Movement">
          <xs:complexType>
            <xs:all>
              <xs:element name="DistanceScale" type="PositiveDecimalType" />
              <xs:element name="MinTransitTicks" type="xs:nonNegativeInteger" />
              <xs:element name="SameSystemMinTransitTicks" type="xs:nonNegativeInteger" />
              <xs:element name="DefaultFighterHyperdrive" type="PositiveIntType" />
            </xs:all>
          </xs:complexType>
        </xs:element>

        <xs:element name="Production">
          <xs:complexType>
            <xs:all>
              <xs:element name="MaintenanceShortfallAutoscrapInterval" type="PositiveIntType" />
              <xs:element name="ResourceMaintenanceLoadPercent" type="PositiveIntType" />
              <xs:element name="ResourceCollectionBasePercent" type="PositiveIntType" />
              <xs:element name="ResourceStartupBasePercent" type="PositiveIntType" />
              <xs:element name="ResourceStartupRandomPercent" type="PositiveIntType" />
            </xs:all>
          </xs:complexType>
        </xs:element>

        <xs:element name="Planet">
          <xs:complexType>
            <xs:all>
              <xs:element name="MaxEnergy" type="PositiveIntType" />
              <xs:element name="MaxRawMaterials" type="PositiveIntType" />
            </xs:all>
          </xs:complexType>
        </xs:element>

        <xs:element name="Combat">
          <xs:complexType>
            <xs:all>
              <xs:element name="Bombardment">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="AttackerLeadershipDivisor" type="PositiveIntType" />
                    <xs:element name="DefenderLeadershipDivisor" type="PositiveIntType" />
                    <xs:element name="StrikeRollMinimum" type="xs:nonNegativeInteger" />
                    <xs:element name="StrikeRollMaximum" type="xs:nonNegativeInteger" />
                    <xs:element name="EnergyResistance" type="xs:nonNegativeInteger" />
                    <xs:element
                      name="AllocatedEnergyResistance"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element name="HeadquartersResistance" type="xs:nonNegativeInteger" />
                    <xs:element name="CivilianSupportPenalty" type="xs:integer" />
                    <xs:element
                      name="CivilianCoreAllianceSupportPenalty"
                      type="xs:integer"
                    />
                    <xs:element
                      name="CivilianCoreEmpireSupportPenalty"
                      type="xs:integer"
                    />
                    <xs:element
                      name="CivilianOuterRimAllianceSupportPenalty"
                      type="xs:integer"
                    />
                    <xs:element
                      name="CivilianOuterRimEmpireSupportPenalty"
                      type="xs:integer"
                    />
                    <xs:element
                      name="DestroySystemPersonnelInjuryPercent"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="DestroySystemMinorPersonnelDeathPercent"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element name="DestroySystemCoreSupportPenalty" type="xs:integer" />
                    <xs:element
                      name="DestroySystemOuterRimSupportPenalty"
                      type="xs:integer"
                    />
                    <xs:element
                      name="DestroySystemOuterRimSupportThreshold"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="PlanetDestroyingCapitalShipTypeIDs"
                      type="StringListType"
                    />
                  </xs:all>
                </xs:complexType>
              </xs:element>
              <xs:element name="PlanetaryAssault">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="PersonnelDivisor" type="PositiveIntType" />
                    <xs:element name="ShieldGeneratorLimit" type="PositiveIntType" />
                    <xs:element name="DefenseFireDivisor" type="PositiveIntType" />
                    <xs:element name="CollateralDamagePercent" type="xs:nonNegativeInteger" />
                    <xs:element name="GeneralLeadershipDivisor" type="PositiveIntType" />
                    <xs:element name="ContestRollMaximum" type="xs:nonNegativeInteger" />
                    <xs:element name="DefenderWinsMaximum" type="xs:integer" />
                    <xs:element name="AttackerWinsMinimum" type="xs:integer" />
                    <xs:element name="CaptureGarrisonCount" type="xs:nonNegativeInteger" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
              <xs:element name="SpaceCombat">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="FighterTacticalDurability" type="PositiveIntType" />
                    <xs:element
                      name="WeaponDamageVariancePercent"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="FighterDogfightLossRatePercent"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="FighterDamageBasePercent"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="FighterDamageSpreadPercent"
                      type="xs:nonNegativeInteger"
                    />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>

        <xs:element name="Uprising">
          <xs:complexType>
            <xs:all>
              <xs:element name="DiceRange" type="PositiveIntType" />
              <xs:element name="DiceAddend" type="xs:integer" />
              <xs:element name="MissionLeadershipDivisor" type="PositiveIntType" />
              <xs:element name="InciteMissionSupportShift" type="xs:integer" />
              <xs:element name="ResistanceRegimentTypeID" type="xs:string" />
              <xs:element name="SubdueOwnedSupportBase" type="xs:integer" />
              <xs:element name="SubdueOwnedSupportRange" type="xs:nonNegativeInteger" />
              <xs:element name="SubdueNeutralSupportBase" type="xs:integer" />
              <xs:element name="SubdueNeutralSupportRange" type="xs:nonNegativeInteger" />
              <xs:element name="PrimaryConsequenceTable" type="IntTableType" />
              <xs:element name="SecondaryConsequenceTable" type="IntTableType" />
              <xs:element name="ControllerSupportShift" type="xs:integer" />
              <xs:element name="ActiveSupportDriftMinTicks" type="PositiveIntType" />
              <xs:element name="ActiveSupportDriftMaxTicks" type="PositiveIntType" />
              <xs:element name="IncidentPulseMinTicks" type="PositiveIntType" />
              <xs:element name="IncidentPulseMaxTicks" type="PositiveIntType" />
              <xs:element name="ClearUprisingMinTicks" type="PositiveIntType" />
              <xs:element name="ClearUprisingMaxTicks" type="PositiveIntType" />
            </xs:all>
          </xs:complexType>
        </xs:element>

        <xs:element name="SupportShift">
          <xs:complexType>
            <xs:all>
              <xs:element name="ShiftThreshold" type="xs:nonNegativeInteger" />
              <xs:element name="LowBracketCeiling" type="xs:nonNegativeInteger" />
              <xs:element name="MidBracketCeiling" type="xs:nonNegativeInteger" />
              <xs:element name="LowBracketShift" type="xs:integer" />
              <xs:element name="MidBracketShift" type="xs:integer" />
              <xs:element name="HighBracketShift" type="xs:integer" />
              <xs:element name="FleetPenalty" type="xs:integer" />
              <xs:element name="FighterPenalty" type="xs:integer" />
              <xs:element name="TroopPenalty" type="xs:integer" />
              <xs:element name="OwnershipTransferThreshold" type="xs:nonNegativeInteger" />
              <xs:element name="WeakSupportPenaltyDivisor" type="PositiveIntType" />
              <xs:element name="GarrisonRemovalSupportShift" type="xs:integer" />
              <xs:element name="ControlChangeSupportShift" type="xs:integer" />
              <xs:element name="BlockadeMatchShift" type="xs:integer" />
              <xs:element name="BlockadeOpposeShift" type="xs:integer" />
              <xs:element name="DiplomacyCompletionSupportBonus" type="xs:integer" />
              <xs:element name="DiplomacyOwnedPlanetSupportBase" type="xs:integer" />
              <xs:element name="DiplomacyOwnedPlanetSupportRange" type="xs:nonNegativeInteger" />
              <xs:element name="DiplomacyNeutralPlanetSupportBase" type="xs:integer" />
              <xs:element name="DiplomacyNeutralPlanetSupportRange" type="xs:nonNegativeInteger" />
            </xs:all>
          </xs:complexType>
        </xs:element>

        <xs:element name="Blockade">
          <xs:complexType>
            <xs:all>
              <xs:element name="CapitalShipProductionPenaltyPercent" type="xs:nonNegativeInteger" />
              <xs:element name="FighterProductionPenaltyPercent" type="xs:nonNegativeInteger" />
              <xs:element name="EvacuationLossPercent" type="xs:nonNegativeInteger" />
            </xs:all>
          </xs:complexType>
        </xs:element>

        <xs:element name="Victory">
          <xs:complexType>
            <xs:all></xs:all>
          </xs:complexType>
        </xs:element>

        <xs:element name="Jedi">
          <xs:complexType>
            <xs:all>
              <xs:element name="DiscoveringForceUserThreshold" type="PositiveIntType" />
              <xs:element name="ForceQualifiedThreshold" type="PositiveIntType" />
              <xs:element name="FastHealThreshold" type="PositiveIntType" />
              <xs:element name="ForceGrowthPerMission" type="xs:nonNegativeInteger" />
              <xs:element name="TrainingCatchUpPercent">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="100" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="HeritageThreshold" type="PositiveIntType" />
              <xs:element name="DagobahCompletionBonusPercent" type="xs:nonNegativeInteger" />
              <xs:element name="EncounterLocalMinRank" type="xs:nonNegativeInteger" />
              <xs:element name="EncounterCrossSideMinRank" type="xs:nonNegativeInteger" />
              <xs:element name="EncounterProbabilityOffset" type="xs:integer" />
              <xs:element name="RankLabelNovice" type="xs:nonNegativeInteger" />
              <xs:element name="RankLabelTrainee" type="PositiveIntType" />
              <xs:element name="RankLabelForceStudent" type="PositiveIntType" />
              <xs:element name="RankLabelForceKnight" type="PositiveIntType" />
              <xs:element name="RankLabelForceMaster" type="PositiveIntType" />
            </xs:all>
          </xs:complexType>
        </xs:element>

        <xs:element name="Research">
          <xs:complexType>
            <xs:all>
              <xs:element name="BaseResearchPoints" type="PositiveIntType" />
              <xs:element name="ResearchDiceRange" type="xs:nonNegativeInteger" />
              <xs:element name="RefreshIntervalBase" type="PositiveIntType" />
              <xs:element name="RefreshIntervalSpread" type="xs:nonNegativeInteger" />
            </xs:all>
          </xs:complexType>
        </xs:element>

        <xs:element name="Assassination">
          <xs:complexType>
            <xs:all>
              <xs:element name="BaseInjury" type="PositiveIntType" />
              <xs:element name="PrimaryInjuryRange" type="xs:nonNegativeInteger" />
              <xs:element name="SecondaryInjuryRange" type="xs:nonNegativeInteger" />
              <xs:element name="KillProbability" type="xs:nonNegativeInteger" />
            </xs:all>
          </xs:complexType>
        </xs:element>

        <xs:element name="Recovery">
          <xs:complexType>
            <xs:all>
              <xs:element name="MaxInjuryPoints" type="PositiveIntType" />
              <xs:element name="FastHealAmount" type="PositiveIntType" />
              <xs:element name="NormalHealAmount" type="PositiveIntType" />
              <xs:element name="FastRepairAmount" type="PositiveIntType" />
              <xs:element name="NormalRepairAmount" type="PositiveIntType" />
              <xs:element name="FastReplacementAmount" type="PositiveIntType" />
              <xs:element name="NormalReplacementAmount" type="PositiveIntType" />
            </xs:all>
          </xs:complexType>
        </xs:element>

        <xs:element name="Captive">
          <xs:complexType>
            <xs:all>
              <xs:element name="EscapeTable" type="IntTableType" />
              <xs:element name="EscapeLoyaltyShift" type="xs:integer" />
            </xs:all>
          </xs:complexType>
        </xs:element>

        <xs:element name="GameSpeed">
          <xs:complexType>
            <xs:all>
              <xs:element name="FastTickIntervalSeconds" type="xs:decimal" />
              <xs:element name="MediumTickIntervalSeconds" type="xs:decimal" />
              <xs:element name="SlowTickIntervalSeconds" type="xs:decimal" />
              <xs:element name="VerySlowTickIntervalSeconds" type="xs:decimal" />
            </xs:all>
          </xs:complexType>
        </xs:element>

        <xs:element name="Messages">
          <xs:complexType>
            <xs:all>
              <xs:element name="RetentionTicks" type="PositiveIntType" />
            </xs:all>
          </xs:complexType>
        </xs:element>

        <xs:element name="ProbabilityTables">
          <xs:complexType>
            <xs:all>
              <xs:element name="UprisingStart" type="IntTableType" />
              <xs:element name="Mission">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="Abduction" type="IntTableType" />
                    <xs:element name="Assassination" type="IntTableType" />
                    <xs:element name="DecoyDefenderScalingPercent" type="xs:nonNegativeInteger" />
                    <xs:element name="FoilDefenderScalingPercent" type="xs:nonNegativeInteger" />
                    <xs:element name="FoilFlatScoreAdjustment" type="xs:integer" />
                    <xs:element name="Decoy" type="IntTableType" />
                    <xs:element name="Diplomacy" type="IntTableType" />
                    <xs:element name="DeathStarSabotage" type="IntTableType" />
                    <xs:element name="Espionage" type="IntTableType" />
                    <xs:element name="Foil" type="IntTableType" />
                    <xs:element name="KillOrCapture" type="IntTableType" />
                    <xs:element
                      name="DefaultSuccessProbability"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element
                      name="DefaultKillOrCaptureProbability"
                      type="xs:nonNegativeInteger"
                    />
                    <xs:element name="InciteUprising" type="IntTableType" />
                    <xs:element name="Recruitment" type="IntTableType" />
                    <xs:element name="Rescue" type="IntTableType" />
                    <xs:element name="Sabotage" type="IntTableType" />
                    <xs:element name="SubdueUprising" type="IntTableType" />
                    <xs:element name="TickRanges">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Abduction" type="MissionTickConfigType" />
                          <xs:element name="Assassination" type="MissionTickConfigType" />
                          <xs:element name="Diplomacy" type="MissionTickConfigType" />
                          <xs:element name="Espionage" type="MissionTickConfigType" />
                          <xs:element name="InciteUprising" type="MissionTickConfigType" />
                          <xs:element name="Reconnaissance" type="MissionTickConfigType" />
                          <xs:element name="Recruitment" type="MissionTickConfigType" />
                          <xs:element name="Rescue" type="MissionTickConfigType" />
                          <xs:element name="Sabotage" type="MissionTickConfigType" />
                          <xs:element name="SubdueUprising" type="MissionTickConfigType" />
                          <xs:element name="Research" type="MissionTickConfigType" />
                          <xs:element name="JediTraining" type="MissionTickConfigType" />
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
